* {
  margin: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  color: #363636;
  background-color: #F7F7F7;
  padding-top: 2.5em;
}

h1 {
  font-size: 30px;
}

h2 {
  font-weight: 200;
  font-size: 22px;
}


h3 {
  font-weight: 400;
  font-size: 20px;
}

h4 {
  font-size: 26px;
}

h5 {
  font-size: 24px;
  font-weight: 200;
}

a {
  color: #363636;
}

.logo {
  font-family: 'Sacramento', cursive;
  font-size: 30px;
  font-weight: 600;
}

.hamburger {
  width: 30px;
}


.bar {
  height: 2px;
  background: #363636;
  margin: 3px auto;
  transition: all .3s ease-in-out;
}


nav {
  background-color: #F7F7F7;
  padding: 0em 0em;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
}


.navmeny {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    flex-wrap: wrap;
    font-weight: 200;
    align-items: center;
}



ul {
  padding-inline-start: 0px;
  padding: 1em 1em;
  
}

.navmeny a {
    text-decoration: none;
}



header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 60vh;
}

.headerCV {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: auto;
}

.header_overskrifter {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}


.landing {
  height: 100vh;
}


.arrow-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.down-arrow {
  display: inline-block;
  margin-top: 26px;
  width: 15px;
  height: 15px;
  border-top: 2px solid #363636;
  border-left: 2px solid #363636;
  transform-origin: center;
}

.down-arrow {
  transform: rotate(-135deg);
}

  .down-arrow::after {
    content: "";
    display: block;
    width: 2px;
    height: 45px;
    background-color: #363636;
    transform: rotate(-45deg) translate(15px, 4px);
   }

.semittarbeid_tekst {
  display: flex;
  align-items: center;
  gap: 1em;
}

@-webkit-keyframes bounce {
  15% {
      -webkit-transform: translateY(5px);
      transform: translateY(5px);
  }
  30% {
      -webkit-transform: translateY(-5px);
      transform: translateY(-5px);
  }
  50% {
      -webkit-transform: translateY(3px);
      transform: translateY(3px);
  }
  65% {
      -webkit-transform: translateY(-3px);
      transform: translateY(-3px);
  }
  80% {
      -webkit-transform: translateY(2px);
      transform: translateY(2px);
  }
  100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
  }
}
@keyframes bounce {
  15% {
      -webkit-transform: translateY(5px);
      transform: translateY(5px);
  }
  30% {
      -webkit-transform: translateY(-5px);
      transform: translateY(-5px);
  }
  50% {
      -webkit-transform: translateY(3px);
      transform: translateY(3px);
  }
  65% {
      -webkit-transform: translateY(-3px);
      transform: translateY(-3px);
  }
  80% {
      -webkit-transform: translateY(2px);
      transform: translateY(2px);
  }
  100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
  }
}
.bounce:hover
{
  -webkit-animation: bounce 1s ease;
  animation: bounce 1s ease;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}





/*Burger til kryss*/
.hamburger.open .bar:nth-child(2) {
    opacity: 0;
  }
  
  .hamburger.open .bar:nth-child(1) {
    transform: translateY(5px) rotate(45deg);
  }
  
  .hamburger.open .bar:nth-child(3) {
    transform: translateY(-5px) rotate(-45deg);
  }

  .burgerlinks {
    display: none;
    font-size: 18px;
  }

  .burgeritem:hover {
    font-weight: 400;
  }

  .active {
    font-weight: 400;
  }

  .burgerlinks.open {
    display: flex;
    flex-direction: column;
    order: 2;
    width: 100%;
    text-align: center;
    margin: 1em 0em 1em 0em;
    gap: 1em;  
  }

  header {
    padding: 2em 1em;
  }

  /* Prosjekt seksjoner */


  .bildebox {
    display: flex;
    height: 15em;
    width: 100%;
    justify-content: center;
  }

  .bildebox img {
    object-fit: contain;
  }

  .prosjekter {
    display: flex;
    flex-direction: column;
    gap: 4em;
    padding: 2em 1em;
  }

  .prosjektthumbnail {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-direction: column-reverse;
    gap: 2em;
    padding: 1em 1em;
    border-radius: 1em;
    transition: all .2s ease-in-out;
    
  }


  .prosjektthumbnail:hover {
    cursor: pointer;
    transform: scale(1.05);
  }

  .orenesehals {
    background-color: #8FCAF4;
  }

  .orenesehalslight {
    background-color: #BAE2FF;
  }

  .indicia {
    background-color: #CFC7F0;
  }

  .indicialight {
    background-color: #E5E1F0;
  }

  .nym {
    background-color: #FFD4B2;
  }

  .nymlight {
    background-color: #FFE3CE;
  }

  .infridge {
    background-color: #BFE7D2;
  }

  .infridgelight {
    background-color: #D0E8DC;
  }

  .eldhus {
    background-color: #DFB96C;
  }

  .eldhuslight {
    background-color: #E8D2A5;
  }

  .vitmer {
    background-color: #FFE59A;
  }

  .vitmerlight {
    background-color: #FFF1C8;
  }

  .stedet {
    background-color: #FFB1B1;
  }

  .stedetlight {
    background-color: #FFDFDF;
  }

  .nyss {
    background-color: #FFA3B1;
  }

  .nysslight {
    background-color: #FFDDE2;
  }

  .prosjektthumbnailphoto {
    max-width: 100%;
    max-height: 100%;
  }

  /* Prosjektsider */

  .prosjekt_overview {
    display: flex;
    flex-direction: column;
    gap: 2em;
  }


  .overview_tekst {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }

  .overview_tekst ul {
    list-style-type: none;
    font-weight: 200;
    padding: 0em;
  }

  .prototype {
    padding: 2em 1em;;
  }

  .prototypeiframe {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .prototypebox {
    height: 20em;
    padding: 1em 0em;
  }

  .prosjektinformasjon {
    padding: 2em 1em;
  }

  .prosjektinfotekst {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em 0em;
    font-weight: 200;
  }

  /* CV */

  .landingCV {
    height: auto;
  }

  .CVtekst {
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding: 0em 1em;
  }

  .CVtekst h4 {
    font-size: 18px;
  }

  .CVnokkelinfo {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
  }

  .CVnokkelinfo a {
    text-decoration: none;
  }

  .CVnokkelinfo a {
    text-decoration: none;
  }

  .CVnokkelinfo a:hover {
    text-decoration: underline;
  }

  .CVtekst h3 {
    margin-bottom: 0.5em;
  }

  

  hr {
    margin: 1.5em 0em;
  }

  .ferdigheteregenskaper {
    display: flex;
    flex-direction: column;
    gap: 2em;
  }




  footer {
    color: #F7F7F7;
    background-color: #363636;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 2em;
    padding: 3.5em 1em;
    font-weight: 300;
  }

  footer a {
    color: #F7F7F7;
    text-decoration: none;
  }

  footer ul {
    list-style-type: none;
  }

  footer a:hover {
    font-weight: 400;
  }

  .navfooter {
    padding: 0em;
  }




  
  /* Tablet storrelse */

  @media all and (min-width: 650px) {

    body {
      padding-top: 6em;
    }

    header {
      padding: 0em 6em;
    }

    

    h1 {
      font-size: 36px;
    }

    h2 {
      font-size: 32px;
    }

    h3 {
      font-size: 24px;
    }

    header p {
      font-size: 18px;
    }

    .prosjektthumbnail {
      flex-direction: row;
      align-items: center;
      justify-content: center;
      padding: 3em 1em;
    }

    .prosjekttekst {
      width: 55%;
    }


    .prosjekter {
      padding: 2em 6em;
    }

    .bildebox {
      width: 45%;
    }

    ul {
      padding: 2em 6em;
    }

    /* Prosjektsider */

    .overview_tekst ul {
      font-size: 20px;
    }

    .prototype {
      padding: 6em 6em;
    }

    .prosjektinformasjon {
      padding: 6em 6em;
    }

    .prototypebox {
      height: 26em;
    }

    /* CV */

    .CVtekst {
      padding: 2em 6em;
    }

    .CVtekst ul {
      padding: 1em 2.5em;
    }



  }


  /* Desktop storrelse */

  @media all and (min-width: 960px) {

   body {
    padding-top: 8em;
   }

    .logo {
      font-size: 38px;
    }

    header {
      padding: 0em 10em;
      height: 70vh; 
    }

    .header_overskrifter {
      width: 60%;
    }

    .burgerlinks {
      display: flex;
      gap: 1.5em;
    }

    .toggle {
      display: none;
    }

    .prosjekter {
      padding: 6em 10em;
    }

    ul {
      padding: 2em 10em;
    }

    .prosjektthumbnail {
      gap: 0em;
      padding: 5em 6em;
    }

    .prototype {
      padding: 6em 10em;
    }

    .prosjektinformasjon {
      padding: 6em 10em;
    }

    .prosjektinfotekst {
      flex-direction: row;
    }

    .prosjektinfotekst p {
      width: 50%;
    }

    .prototypebox {
      height: 30em;
    }

    .overview_tekst {
      width: 70%;
    }

    .CVtekst {
      padding: 6em 10em;
      width: 60%;
    }



    footer {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding: 6em 10em;
    }

  }


  /* Large Desktop storrelse */
  @media all and (min-width: 1100px) {

  }


  /* XL Desktop storrelse */
  @media all and (min-width: 1300px) {

    ul {
      padding: 2em 12em;
    }

    header {
      padding: 0em 12em;
    }

    .prosjekter {
      padding: 6em 12em;
    }

    .CVtekst {
      padding: 6em 12em;
    }

    .prototype {
      padding: 6em 12em;
    }

    .prosjektinformasjon {
      padding: 6em 12em;
    }

    footer {
      padding: 6em 12em;
    }


  }




 


  

  





  